<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Opject</title>
  </head>
  <body>
	<table border="1" bordercolor="black" width ="500" height="300" align = "center" >
	<tr bgcolor="skyblue" align ="center">
	<p>
	<td colspan = "19" span style="color:white">
	URL 별 단어분석</td>
	</p>
	</tr>
	<tr align = "center" bgcolor="gray">
	<td> 주소 </td>
	<td> 총 단어수 </td>
	<td> 처리시간 </td>
	<td> 버튼1 </td>
	<td> 버튼2 </td>
	</tr>
	<tr>
	<td>{{word}}</td>
	<td></td>
	<td></td>
	<td><button type = "button2"> B1 </button></td>
	<td><button type = "button2"> B2 </button></td>
	</tr>
  </body>
</html>
