<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Opject</title>
  </head>
  <body>
	<table border="1" bordercolor="black" width ="500" height="300" align = "center" >
	   <tr bgcolor="skyblue" align ="center">
	      <p><td colspan = "19" span style="color:white">
	         URL 별 단어분석</td>
	      </p>
	   </tr>
	   <tr align = "center" bgcolor="gray">
	      <th> 주소 </th>
	      <th> 총 단어수 </th>
	      <th> 처리시간 </th>
	      <th> 버튼1 </th>
        <th> 버튼2 </th>
	   </tr>
     {% for item in range(0,num) %}
         <tr>
             <td>{{urls[item]}}</td>
             <td>{{test1[item]}}</td>
             <td>{{test2[item]}}</td>
             <td>
               <form method = "GET" action = "/button1">
               <input type="hidden" name="url" value = {{urls[item]}}></input>
               <button type = "button1"> B1 </button>
               </form>
             <td>
               <button type = "button2"> B2 </button>
             </td>
         </tr>
     {% endfor %}
  </table>

  </body>
</html>
